/* clients */
.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: $text-color;
    margin-bottom: 50px;
  }
  .clients-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    margin-left: calc(-1 * var(--ul-class-gap));

    &__item {
      flex-basis: calc(100% / 6 - var(--ul-class-gap));
      margin-left: var(--ul-class-gap);
      box-sizing: border-box;
      justify-content: center;
    }

    &__link {
      display: flex;
      padding: 15px 31px;
      justify-content: center;
      align-items: center;
      border: 1px solid $social-link-icon;
      border-radius: 4px;
      transition: border 250ms var(--cubic-bezier);
    }

    &__link:hover,
    &__link:focus {
      fill: $web-hover-fokus;
      border: 1px solid $web-hover-fokus;
      border-radius: 4px;
    }

    &__link:hover .svg-icon,
    &__link:focus .svg-icon {
      fill: $web-hover-fokus;
    }

    &__link .svg-icon {
      fill: $social-link-icon;
      transition: fill 250ms var(--cubic-bezier);
    }
  }
  // .clients-list__item {
  //   flex-basis: calc(100% / 6 - var(--ul-class-gap));
  //   margin-left: var(--ul-class-gap);
  //   box-sizing: border-box;
  //   justify-content: center;
  // }
  // .clients-list__link {
  //   display: flex;
  //   padding: 15px 31px;
  //   justify-content: center;
  //   align-items: center;
  //   border: 1px solid var(--social-link-icon);
  //   border-radius: 4px;
  //   transition: border 250ms var(--cubic-bezier);
  // }
  // .clients-list__link:hover,
  // .clients-list__link:focus {
  //   fill: var(--web-hover-fokus);
  //   border: 1px solid var(--web-hover-fokus);
  //   border-radius: 4px;
  // }
  // .clients-list__link:hover .svg-icon,
  // .clients-list__link:focus .svg-icon {
  //   fill: var(--web-hover-fokus);
  // }
  // .clients-list__link .svg-icon {
  //   fill: var(--social-link-icon);
  //   transition: fill 250ms var(--cubic-bezier);
  // }
  