/* HERO */
.hero {
  background: $hero-footer-background;
  text-align: center;
  margin: 0;
  // padding: 200px 0;
  // max-width: 1600px;
  // min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)),
    url(../images/bghero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding: 118px 0;
    min-height: 400px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 118px 0;
    min-height: 400px;
  }
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    min-height: 600px;
  }

  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $hero-footer;
    margin-bottom: 30px;
    @media screen and (min-width: 480px) and (max-width: 767px) {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 900;
      font-size: 26px;
      line-height: 42px;
      /* or 162% */
      
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      
      color: #FFFFFF;
    }
    
  }

  &__btn {
    padding: 10px 32px;
    @media screen and (min-width: 480px) and (max-width: 767px) {
      padding: 10px 24px;
      
    }
    @extend %button;
    background: var(--caption-btn-h-f);
    transition: opacity 250ms var(--cubic-bezier),
      background 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier);
  }

  &__btn:hover,
  &__btn:focus {
    background: $web-hover-fokus;
  }
}
