/* HERO */
.hero {
  background: $hero-footer-background;
  max-width: 680px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 118px 0;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)),
    url(../images/ImgBgHm@1x.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        var(--hero-gradient),
        var(--hero-gradient)
      ),
      url(../images/ImgBgHm@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    max-width: 1070px;

    background-image: linear-gradient(
        var(--hero-gradient),
        var(--hero-gradient)
      ),
      url(../images/ImgBgHt@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--hero-gradient),
          var(--hero-gradient)
        ),
        url(../images/ImgBgHt@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    max-width: 1600px;
    min-height: 600px;

    background-image: linear-gradient(
        var(--hero-gradient),
        var(--hero-gradient)
      ),
      url(../images/ImgBgHd@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--hero-gradient),
          var(--hero-gradient)
        ),
        url(../../images/ImgBgHd@2x.jpg);
    }
  }

  &__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $hero-footer;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__btn {
    padding: 10px 24px;

    @extend %button;
    background: var(--caption-btn-h-f);
    transition: opacity 250ms var(--cubic-bezier),
      background 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier);

    @media screen and (min-width: 1200px) {
      padding: 10px 32px;
    }
  }

  &__btn:hover,
  &__btn:focus {
    background: $web-hover-fokus;
  }
}
