/* MODAL */
.modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
    left: 50%;
    top: 56%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: var(--hero-footer);
    box-shadow: 0px 1px 3px var(--team-bth-p-box-shadow),
      0px 1px 1px var(--team-box-shadow-two),
      0px 2px 1px var(--team-box-shadow-three);
    border-radius: 4px;

    &__close {
      position: absolute;
      width: 30px;
      height: 30px;
      right: 8px;
      top: 8px;
      display: flex;
      padding: 6px;
      background: var(--hero-footer);
      border: 1px solid var(--btn-p-box-shadow-one);
      border-radius: 50%;
      transition: fill 250ms var(--cubic-bezier);
    }

    &__close:hover,
    &__close:focus {
      fill: var(--web-hover-fokus);
      cursor: pointer;
    }
  }
  
  .form {
    width: 100%;

    &__text {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.15;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--text-color);
      margin-bottom: 12px;
    }

    &__label {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: var(--additional-text);
      position: relative;
      display: block;
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
      transition: border 250ms var(--cubic-bezier);
    }

    &__label:last-child {
      margin-bottom: 0;
    }

    &__label:hover > .form__input {
      cursor: pointer;
      border: 1px solid var(--web-hover-fokus);
      border-radius: 4px;
    }

    &__label:hover > .svg-icon {
      fill: var(--web-hover-fokus);
      cursor: pointer;
    }

    &__label:focus-within > .svg-icon {
      fill: var(--web-hover-fokus);
      cursor: pointer;
    }

    &__input {
      width: 100%;
      height: 40px;
      margin: 0;
      padding: 0;
      padding-left: 42px;
      margin-top: 4px;
      background: var(--hero-footer);
      border: 1px solid var(--form-input-border);
      border-radius: 4px;
    }

    &__label .svg-icon {
      position: absolute;
      top: 50%;
      left: 12px;
      display: inline-block;
      transform: translateY(30%);
    }

    &__checkbox-label {
      display: inline-block;
      margin-left: 16px;
      margin-bottom: 30px;
    }

    &__consent {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--additional-text);
    }

    &__checkbox-icon {
      display: inline-block;
      width: 16px;
      height: 15px;
      border: 2px solid var(--text-color);
      margin-right: 7px;
    }

    &__link {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      text-decoration-line: underline;
      color: var(--web-hover-fokus);
    }
  }
  // .form__text {
  //   font-family: "Roboto";
  //   font-style: normal;
  //   font-weight: 700;
  //   font-size: 20px;
  //   line-height: 1.15;
  //   text-align: center;
  //   letter-spacing: 0.03em;
  //   color: var(--text-color);
  //   margin-bottom: 12px;
  // }
  // .form__label {
  //   font-family: "Roboto";
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 12px;
  //   line-height: 1.17;
  //   letter-spacing: 0.01em;
  //   color: var(--additional-text);
  //   position: relative;
  //   display: block;
  //   margin: 0;
  //   padding: 0;
  //   margin-bottom: 10px;
  //   transition: border 250ms var(--cubic-bezier);
  // }
  // .form__label:last-child {
  //   margin-bottom: 0;
  // }
  // .form__label:hover > .form__input {
  //   cursor: pointer;
  //   border: 1px solid var(--web-hover-fokus);
  //   border-radius: 4px;
  // }
  // .form__label:hover > .svg-icon {
  //   fill: var(--web-hover-fokus);
  //   cursor: pointer;
  // }
  // .form__label:focus-within > .svg-icon {
  //   fill: var(--web-hover-fokus);
  //   cursor: pointer;
  // }
  // .form__input {
  //   width: 100%;
  //   height: 40px;
  //   margin: 0;
  //   padding: 0;
  //   padding-left: 42px;
  //   margin-top: 4px;
  //   background: var(--hero-footer);
  //   border: 1px solid var(--form-input-border);
  //   border-radius: 4px;
  // }
  // .form__label .svg-icon {
  //   position: absolute;
  //   top: 50%;
  //   left: 12px;
  //   display: inline-block;
  //   transform: translateY(30%);
  // }
  .comment {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--comment-color);
    margin-bottom: 4px;
  }
  textarea {
    resize: none;
    color: var(--additional-text);
  }
  .form__textarea {
    width: 100%;
    height: 138px;
    padding: 12px 16px;
    margin-bottom: 20px;
    background: var(--hero-footer);
    border: 1px solid var(--form-input-border);
    border-radius: 4px;
    transition: border 250ms var(--cubic-bezier);

    &:hover {
      cursor: pointer;
      border: 1px solid var(--web-hover-fokus);
      border-radius: 4px;
    }

    &::placeholder {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      padding-bottom: 90px;
      color: var(--comment-color);
    }
  }
  // .form__textarea:hover {
  //   cursor: pointer;
  //   border: 1px solid var(--web-hover-fokus);
  //   border-radius: 4px;
  // }
  // .form__textarea::placeholder {
  //   font-family: "Roboto";
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 12px;
  //   line-height: 1.17;
  //   letter-spacing: 0.01em;
  //   padding-bottom: 90px;
  //   color: var(--comment-color);
  // }
  
  // .form__checkbox-label {
  //   display: inline-block;
  //   margin-left: 16px;
  //   margin-bottom: 30px;
  // }
  // .form__consent {
  //   font-family: "Roboto";
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 14px;
  //   line-height: 1.71;
  //   letter-spacing: 0.03em;
  //   color: var(--additional-text);
  // }
  .checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    transition: background-color 250ms var(--cubic-bezier);

    &:checked + .form__checkbox-icon {
      background-image: url("../images/icon_check.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: var(--web-hover-fokus);
      border-color: transparent;
      background-origin: border-box;
    }
  }
  // .form__checkbox-icon {
  //   display: inline-block;
  //   width: 16px;
  //   height: 15px;
  //   border: 2px solid var(--text-color);
  //   margin-right: 7px;
  // }
  // .checkbox:checked + .form__checkbox-icon {
  //   background-image: url("../images/icon_check.svg");
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   background-position: 50% 50%;
  //   background-color: var(--web-hover-fokus);
  //   border-color: transparent;
  //   background-origin: border-box;
  // }
  // .form__link {
  //   font-family: "Roboto";
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 14px;
  //   line-height: 1.71;
  //   letter-spacing: 0.03em;
  //   text-decoration-line: underline;
  //   color: var(--web-hover-fokus);
  // }
  
  .form__button {
    @extend %button;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 52px;
    margin: auto;
    transition: box-shadow 250ms var(--cubic-bezier);
    background: var(--web-hover-fokus);
    transition: background 250ms var(--cubic-bezier);

    &:hover,
    &:focus {
      background: var(--caption-btn-h-f);
      box-shadow: 0px 4px 4px var(--caption-btn-box-sadow);
      border-radius: 4px;
    }
  }
  // .form__button:hover,
  // .form__button:focus {
  //   background: var(--caption-btn-h-f);
  //   box-shadow: 0px 4px 4px var(--caption-btn-box-sadow);
  //   border-radius: 4px;
  // }
  
  // .modal__close {
  //   position: absolute;
  //   width: 30px;
  //   height: 30px;
  //   right: 8px;
  //   top: 8px;
  //   display: flex;
  //   padding: 6px;
  //   background: var(--hero-footer);
  //   border: 1px solid var(--btn-p-box-shadow-one);
  //   border-radius: 50%;
  //   transition: fill 250ms var(--cubic-bezier);
  // }
  // .modal__close:hover,
  // .modal__close:focus {
  //   fill: var(--web-hover-fokus);
  //   cursor: pointer;
  // }
  