/* HEADER */
.page-head .conteiner {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    position: relative;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    align-content: center;
    height: 80px;
  }
}

.nav-menu {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.menu-button {
  display: flex;
  z-index: 2;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: auto;

  & .icon-close {
    display: none;
  }
  &.is-open .icon-close {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: var(--web-hover-fokus);
  }
}

.menu-conteiner {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: none;
    padding: 48px 40px;
    text-align: start;
    width: 480px;
    height: 796px;
    overflow-y: scroll;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  @media screen and (min-width: 768px) {
    display: flex;
    right: 0;
    width: 100%;
    height: 80px;
  }

  &.is-open {
    @media screen and (max-width: 767px) {
      display: block;
    }
  }
}
.nav-head {
  @media screen and (max-width: 767px) {
    margin-bottom: 300px;
  }
  padding-left: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: center;
    height: 100%;
    margin: 0;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  &__item {
    @media screen and (min-width: 768px) {
      margin-left: 40px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 40px;
      margin-left: 40px;
    }
  }
  &__item:first-child {
    @media screen and (min-width: 768px) {
      margin-left: 0;
    }
  }
  &__item:not(:first-child) {
    margin-top: 40px;

    @media screen and (min-width: 768px) {
      margin-bottom: 50px;
    }
  }

  &__label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms var(--cubic-bezier);

    @media screen and (min-width: 768px) {
      position: relative;
      display: block;
      padding: 32px 0;
      font-size: 14px;
      line-height: 1.14;
    }
  }

  &__label:hover,
  &__label:focus {
    color: var(--web-hover-fokus);
  }

  &__label::after {
    @media screen and (min-width: 768px) {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 5px;
      background: var(--web-hover-fokus);
      border-radius: 2px;
      opacity: 0;
    }
  }

  &__label--current::after {
    @media screen and (min-width: 768px) {
      opacity: 1;
    }
  }

  &__label--current {
    color: var(--web-hover-fokus);
  }
}

.contacts-head {
  display: flex;

  @media screen and (max-width: 767px) {
    margin-top: auto;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding-left: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;

    padding: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  &__item {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 40px;
    }
  }
  &__item:first-child {
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 50px;
    }
  }

  &__item .svg-icon {
    align-items: center;
    fill: var(--additional-text);
    margin-right: 10px;
    transition: fill 250ms var(--cubic-bezier);

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__contact:hover .svg-icon,
  &__contact:focus .svg-icon {
    fill: var(--web-hover-fokus);
  }

  &__contact {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--additional-text);
    transition: color 250ms var(--cubic-bezier);

    @media screen and (min-width: 768px) {
      font-size: 12px;
      display: flex;
      align-self: center;
      align-items: center;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-self: center;
      align-items: center;
      font-size: 14px;
      line-height: 1.14;
      padding: 32px 0;
    }
  }

  &__contact:hover,
  &__contact:focus {
    color: var(--web-hover-fokus);
  }

  &__tel {
    @media screen and (max-width: 767px) {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;
      letter-spacing: 0.02em;
      color: var(--web-hover-fokus);
    }
  }
}

.mobile-list {
  display: flex;
  padding-left: 0;
  margin-right: auto;
  padding-bottom: 48px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
    padding-right: 10px;
  }
  &__item:last-child {
    border-right: 0;
    padding-right: 0;
  }
  &__item:first-child {
    padding-left: 0;
  }
  &__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}
.page-head {
  border-bottom: 1px solid var(--headline-border-bottom);
}
