/* HEADER */
.page-head .conteiner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    // width: 480px;
  }
  // @media screen and (min-width: 768px) and (max-width: 1199px) {
  // }
  // @media screen and (min-width: 1200px) {
  //   align-content: center;
  // }
}

.nav-menu {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.menu-button {
  display: inline-flex;
  z-index: 2;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: auto;

  & .icon-close {
    display: none;
  }
  &.is-open .icon-close {
    display: block;

    //   @media screen and (max-width: 767px) {

    //     width: 30px;
    //     height: 30px;
    //     right: 8px;
    //     top: 8px;
    //     display: flex;
    //     padding: 6px;

    //     background: var(--hero-footer);
    //     border: 1px solid var(--btn-p-box-shadow-one);
    //     border-radius: 50%;
    //     transition: fill 250ms var(--cubic-bezier);

    // }
  }
  &.is-open .icon-menu {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-conteiner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: start;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  padding: 48px 40px;

  @media screen and (max-width: 767px) {
    display: none;

    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
.nav-head {
  margin-bottom: 300px;
  padding-left: 0;
  // @media screen and (max-width: 479px) {
  //   display: none;
  // }
  // @media screen and (min-width: 480px) {
  //   display: none;
  // }
  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   margin-top: 0;
  //   margin-bottom: 0;
  //   padding-left: 0;
  // }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  &__item {
    @media screen and (min-width: 1200px) {
      margin-top: 40px;
      margin-left: 40px;
    }
  }
  &__item:not(:first-child) {
    margin-top: 40px;

    // @media screen and (min-width: 1200px) {
    //   margin-left: 50px;
    // }
  }

  &__label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms var(--cubic-bezier);

    @media screen and (min-width: 1200px) {
      position: relative;
      display: block;
      padding: 32px 0;
      line-height: 1.14;
    }
  }

  &__label:hover,
  &__label:focus {
    color: var(--web-hover-fokus);
  }

  // &__label::after {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   display: block;
  //   width: 100%;
  //   height: 5px;
  //   background: var(--web-hover-fokus);
  //   border-radius: 2px;
  //   opacity: 0;
  // }

  // &__label--current::after {
  //   opacity: 1;
  // }

  &__label--current {
    color: var(--web-hover-fokus);
  }
}

.contacts-head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  padding-left: 0;
  // @media screen and (max-width: 479px) {
  //   display: none;
  // }
  // @media screen and (min-width: 480px) {
  //   display: none;
  // }
  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-left: auto;
  //   // margin-top: 0;
  //   // margin-bottom: 0;
  //   // padding-left: 0;
  // }
  // @media screen and (min-width: 1200px) {
  //   display: flex;
  //   margin-left: auto;
  //   margin-top: 0;
  //   margin-bottom: 0;
  //   padding-left: 0;
  // }
  &__item {
    margin-bottom: 30px;
    // margin-left: 40px;
  }
  &__item:first-child {
    margin-bottom: 60px;
  }
  &__item:not(:first-child) {
    @media screen and (min-width: 1200px) {
      margin-left: 50px;
    }
  }

  &__item .svg-icon {
    align-items: center;
    fill: var(--additional-text);
    margin-right: 10px;
    transition: fill 250ms var(--cubic-bezier);

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__contact:hover .svg-icon,
  &__contact:focus .svg-icon {
    fill: var(--web-hover-fokus);
  }

  &__contact {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--additional-text);
    transition: color 250ms var(--cubic-bezier);

    // @media screen and (min-width: 768px) {
    //   display: flex;
    //   align-self: center;
    //   align-items: center;
    //   padding: 32px 0;
    // }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-self: center;
      align-items: center;
      line-height: 1.14;
      padding: 32px 0;
    }
  }
  &__contact:last-child {
  }
  &__contact:hover,
  &__contact:focus {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--web-hover-fokus);
  }
}

.mobile-list {
  display: flex;
  padding-left: 0;
  margin-right: auto;
  padding-bottom: 48px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
    padding-right: 10px;
  }
  &__item:last-child {
    border-right: 0;
    padding-right: 0;
  }
  &__item:first-child {
    padding-left: 0;
  }
  &__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}
.page-head {
  border-bottom: 1px solid var(--headline-border-bottom);
}
