/* ПАЛІТРА */
:root {
    --text-color: #212121;
    --additional-text: #757575;
    --hero-footer: #ffffff;
    --web-hover-fokus: #2196f3;
    --color-logo-hed: #000000;
    --body-background-color: white;
    --headline-border-bottom: #ececec;
    --hero-footer-background: #2f303a;
    --caption-btn-box-sadow: rgba(0, 0, 0, 0.15);
    --caption-btn-h-f: #188ce8;
    --team-background: #f5f4fa;
    --team-bth-p-box-shadow: rgba(0, 0, 0, 0.12);
    --team-box-shadow-two: rgba(0, 0, 0, 0.14);
    --team-box-shadow-three: rgba(0, 0, 0, 0.2);
    --adres-m-t-color: rgba(255, 255, 255, 0.6);
    --btn-p-box-shadow-one: rgba(0, 0, 0, 0.1);
    --btn-p-box-shadow-two: rgba(0, 0, 0, 0.08);
    --container-project-border: #eeeeee;
    --hero-gradient: rgba(47, 48, 58, 0.4);
    --social-link-icon: #afb1b8;
    --join-in-list: rgba(255, 255, 255, 0.1);
    --portfolio-item-hover06: rgba(0, 0, 0, 0.06);
    --portfolio-item-hover16: rgba(0, 0, 0, 0.16);
    --ul-class-gap: 30px;
    --filter-gap: 8px;
    --overlay-box-bg: rgba(33, 150, 243, 0.9);
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --img-text-bg: rgba(47, 48, 58, 0.8);
    --subscribe-border: rgba(255, 255, 255, 0.3);
    --form-input-border: rgba(33, 33, 33, 0.2);
    --comment-color: rgba(117, 117, 117, 0.5);
  }

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$text-color: #212121;
$body-background-color: white;
$color-logo-hed: #000000;
$web-hover-fokus: #2196f3;
$social-link-icon: #afb1b8;
$hero-footer-background: #2f303a;
$hero-footer: #ffffff;
$img-text-bg: rgba(47, 48, 58, 0.8);
$additional-text: #757575;

